*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  background-color: #56D1B6;
}
.container{
  padding:0 15px;
  margin: 0 auto;
}
html{
scroll-behavior: smooth;
}
ul{
  list-style: none;
}
:root{
  --main-color:#3FA5F9;
  --sec-color:#42B6E0;
  --third-color: #39D09A;
}
button{
  background-color: var(--third-color) !important;
}
@font-face{
  font-family: "islam";
  src: url("Cairo-VariableFont_slnt,wght.ttf");
  font-display: swap;
}
*{
  font-family:"islam";
}
header{
background-color: var(--main-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  padding: 10px 0;
}
.logo img{
  width:100px;
}
.content {
  display: none;
  opacity: 0;
}
@keyframes openpage {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
.loading{
  display: flex;
}
.men{
  position: relative;
}
.menu{
 display:flex;
 flex-direction:column ;
 justify-content:flex-end;
 position: relative;
 user-select: none;
   cursor: pointer;
}
.links{
  position: relative;
}
ul{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color:#39d09bda;
  display: flex;
  flex-direction: column;
   padding-right: 15px;
   padding-left:15px;
  direction: rtl;
  transform: translateY(-100%);
  transition: 0.4s;
  z-index: 999;
}
ul.visible{
  transform: translateY(0);
}
li{
  text-align: right;
  padding: 8px;
  user-select: none;
}
#close-menu-btn{
display: flex;
flex-direction: row-reverse;
cursor: pointer;
transition: 0.5s ease-in-out;
font-size: 1.1rem;
}
/*top row in menu that contains close menu button*/
.top-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}
a{
  text-decoration: none;
  color: black;
}
.men a{
  display: block;
  width: 200px;
  transition: 0.5s ease-in-out;
}
a:hover{
  font-size: 1.11rem;
}
#close-menu-btn:hover{
  font-size: 1.2rem;
}
.visible{
  display: block;
}
footer {
  background-color: var(--sec-color);
  direction: rtl;
  padding: 5px;
}
.center {
  text-align: center;
}
@font-face {
  font-family: "tafsir";
  src: url("/fonts/UthmanicHafs1Ver08.otf");
  font-display: swap;
}
@font-face{
font-family: "quran";
  src: url("/fonts/ArbFONTS-Noon.ttf"),url("fonts/ArbFONTS-Noon.ttf"),url("../fonts/ArbFONTS-Noon.ttf");
  font-display: swap;
  }
.title {
  background-color: var(--sec-color);
  padding: 20px;
}
.center-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagee{
  display: block;
}
.error-hadith{
  width:80px;
  height:80px;
  margin-top: 10px;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:10px;
}
.loading div{
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  border-top: 2vw solid var(--main-color);
  border-right: 2vw solid var(--main-color);
  border-left: 2vw solid var(--main-color);
  border-bottom: 2vw solid transparent;
  animation: lo 3s infinite;
}
@keyframes lo{
  from{
    transform: rotate(0);
  }to{
    transform: rotate(1440deg);
  }
}
@media(min-width:520px){
  .loading{
    font-size: 18px;
  }
}
@media(min-width:768px){
  .container{
    width:750px;
  }
  .loading{
    font-size: 21px;
  }
  .loading div{
    width: 19vw;
    height: 19vw;
    border-width: 1.8vw;
  }
}
@media(min-width:992px) {
  :root{
    font-size: 20px;
  }
  .container {
    width: 970px;
  }
  .loading{
    font-size: 22px;
  }
  .loading div{
    width: 14vw;
    height: 14vw;
    border-width: 1.6vw;
  }
}
@media(min-width:1200px) {
  .container {
    width:1170px;
  }
  .loading{
    font-size: 25px;
  }
  .loading div{
    width: 11vw;
    height: 11vw;
    border-width: 1.2vw;
  }
}