@import url(../menu.css);
html {
  scroll-behavior: smooth;
}
.title {
  background-color: var(--sec-color);
  padding: 20px;
}
.taaref{
 direction: rtl;
  margin-top: 10px;
}
.taaref div{
  display: inline-block;
  background-color:var(--third-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 2px;
}
.top{
  padding-top: 10px;
  position: relative;
}
.top:before{
  position: absolute;
  content: "";
  width: 25%;
  height: 1px;
  opacity: 0.6;
  background-color: black;
  top:35px;
  right:0;
}
.top:after {
  position: absolute;
  content: "";
  width: 25%;
  height: 1px;
  opacity: 0.6;
  background-color: black;
  top: 35px;
  left: 0;
}
@keyframes load{
  from{opacity: 0;}
  to{opacity: 1;}
}
.section{
  margin: 10px 0;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: var(--sec-color);
  text-align: center;
}
.topics{
  display: grid;
  grid-template-areas: "b b";
  grid-template-columns: 3fr 1fr;   
  justify-content: space-between;
  gap:10px;
}
.show{
  display: none;
  background-color: var(--sec-color);
  border-radius: 8px;
  grid-area: a;
  height:480px;
  padding:10px;
  direction: rtl;
  margin-top: 20px;
  overflow-y: scroll;
  opacity:0;
}
@keyframes opacityy {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
#topics{
  grid-area:b;
  height:550px;
  margin-top: 10px;
  margin-bottom: 45px;
  overflow-y: scroll;
}
.hadithcontainer{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding:5px;
}
.hadithcontainer button{
  border: 1px black solid;
  border-radius: 8px;
  padding: 5px;
  align-self: center;
  margin-top: 4px;
  cursor: pointer;
  background-color: var(--third-color);
}
.hadithcontainer img{
  width:30px;
  height:30px;
}
.mark{
  animation: 1s ease-in mark;
  background-color: black;
  color:white;
}
@keyframes mark {
  from{
    background-color:var(--main-color);
  }
  to{
    background-color:black;
    color:white;
  }
}
.hadithnawawi{
  background-color: var(--sec-color);
  direction: rtl;
  padding: 10px;
  border-radius: 10px;
  margin-bottom:10px;
}
#hadithnum{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
  direction: rtl;
}
.numbtn{
border: 1px solid black;
padding: 10px;
border-radius: 7px;
cursor: pointer;
}
.hadithnawawi p{
  padding: 2px;
}
.hadithnawawi .hadnaw{
  background-color: var(--third-color);
  border-radius: 5px;
}
.tafsir-know{
  border:1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  margin: 5px 0;
}
.taf-off{
  display:none;
}
.taf-on{
  display: block;
  overflow-y: scroll; 
  overflow-x: hidden;
  max-height: 300px;
  border: 1.7px solid black;
  border-radius: 5px;
}
