@import url(../menu.css);
.title{
  font-size: 23px;
  text-align: center;
  background-color:var(--sec-color);
  background-size: 100% 100%;
  padding: 20px 0;
}
.radio-player {
      background: var(--main-color);
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      margin: 10px 30px;
      padding: 20px;
      direction: rtl;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
}