@import url(../menu.css);
@font-face {
  font-family: "tafsir";
  src: url("../fonts/UthmanicHafs1Ver08.otf");
  font-display: swap;
}
@font-face{
  font-family: "quran";
    src: url("../fonts/ArbFONTS-Noon.ttf");
    font-display: swap;
}
.content{
  display: none;
}
.title{
  background-color: var(--sec-color);
  padding: 20px;
}
#arrows{
  display:flex ;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}
#next button,#prev button{
  padding: 10px;
  border:1px black solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--sec-color) !important;
  font-size: 15px;
}
.info{
  text-align: right;
  margin: 10px 0;
  direction: rtl;
  font-size: 1em;
}
.titlee{
  display: inline-block;
  background-color:var(--third-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.bsm{
  font-size: 1.5rem;
  font-family: "quran";
}
#ayas{
  text-align: right;
  margin: 10px;
}
.ayaa{
 border: 3.5px var(--third-color) solid;
 font-size: 1.1rem;
 background-color: var(--sec-color);
 margin-bottom: 10px;
 direction: rtl;
}
.ayacont{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.tafsircont{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.tools-flex{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.ayacont button,.tafsircont button{
  border: 1px black solid;
  border-radius: 8px;
  padding: 5px;
  align-self: center;
  margin-top: 4px;
  cursor: pointer;
  background-color: var(--third-color);
}
.ayacont img,.tafsircont img{
  width:30px;
  height:30px;
}
.aya-text{
  padding: 15px;
  font-family: "quran";
}
hr{
  background-color: var(--third-color);
  border: none;
  border-bottom: var(--third-color) 1px solid;
  border-top: var(--third-color) 1px solid;
}
.tafsir-text{
  display: flex;
  justify-content: right;
  flex-direction: row;
  padding: 15px;
}
.tafsir-text *{
  font-family: "tafsir";
}
.tafsir{
  font-family: "tafsir";
  padding: 15px;
}
.audio{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  gap: 15px;
  padding: 5px;
  flex-direction: column;
}
select{
  display: inline-block;
  width: 80%;
  padding: 4px;
  border-radius: 5px;
}
audio{
 display:none;
 padding: 4px;
 border-radius: 15px;
}
@media(max-width:440px){
  audio{
     width: 80%;
  }
}
@media(min-width:440px){
  select{
    width:initial;
  }
}
@keyframes openaudio {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* sharing */
.pop-up-share{
  background-color: var(--sec-color);
  padding: 10px 40px;
  margin: 30px auto;
  border-radius: 10px;
  position: fixed;
  top:50%;
  display: none;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  border:1px solid black;
}
.exit-pop-up{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  right:10px;
  font-family: Arial;
  font-weight: 700;
  font-size: 100%;
  border:1.2px solid black;
  cursor: pointer;
}
.content-shared{
  font-family: "quran";
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.sites{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.sites button{
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width:60px;
  height:60px;
  border-radius: 50%;
  border:1.2px solid black;
  cursor: pointer;
  padding: 6px;
}
.face{
  background-image: url("../icons/facebook.png");
}
.whatsapp{
  background-image: url("../icons/whatsapp.png");
}
.x{
  background-image: url("../icons/twitter.png");
}
.telegram{
  background-image: url("../icons/telegram.png");
}