@import url(../menu.css);
.content{
  display: none;
}
.title{
  background-color: var(--sec-color);
  padding: 20px;
}
.info{
  text-align: right;
  margin: 10px 0;
  direction: rtl;
  font-size: 1em;
}
.titlee{
  display: inline-block;
  background-color:var(--third-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.bsm{
  font-size: 1.5rem;
  font-family: "quran";
}
#ayas{
  text-align: right;
  margin: 10px;
}
.ayaa{
 border: 3.5px var(--third-color) solid;
 font-size: 1.1rem;
 background-color: var(--sec-color);
 margin-bottom: 10px;
 direction: rtl;
}
.ayacont{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.tafsircont{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.ayacont button,.tafsircont button{
  border: 1px black solid;
  border-radius: 8px;
  padding: 5px;
  align-self: center;
  margin-top: 4px;
  cursor: pointer;
  background-color: var(--third-color);
}
.ayacont img,.tafsircont img{
  width:30px;
  height:30px;
}
.aya-text{
  padding: 15px;
  font-family: "quran";
}
hr{
  background-color: var(--third-color);
  border: none;
  border-bottom: var(--third-color) 1px solid;
  border-top: var(--third-color) 1px solid;
}
.tafsir-text{
  display: flex;
  justify-content: right;
  flex-direction: row;
  padding: 15px;
}
.tafsir-text *{
  font-family: "tafsir";
}
.tafsir{
  font-family: "tafsir";
  padding: 15px;
}
.audio{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  direction: rtl;
  gap: 15px;
  padding: 5px;
}
audio{
 display:none;
}
@keyframes openaudio {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}