@import url(../menu.css);
@font-face {
  font-family: "tafsir";
  src: url("../fonts/UthmanicHafs1Ver08.otf");
  font-display: swap;
}
@font-face{
  font-family: "quran";
    src: url("../fonts/ArbFONTS-Noon.ttf");
    font-display: swap;
}
.content{
  display: none;
}
.title{
  background-color: var(--sec-color);
  padding: 20px;
}
#arrows{
  display:flex ;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
  gap: 20px;
}
#next button,#prev button{
  padding: 10px;
  border:1px black solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--sec-color) !important;
  font-size: 15px;
}
.info{
  text-align: right;
  margin: 10px 0;
  direction: rtl;
  font-size: 1em;
}
.titlee{
  display: inline-block;
  background-color:var(--third-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.details-container{
  margin: 12px;
  padding: 8px;
  background-color: var(--main-color);
  border-radius: 7px;
  text-align: center;
  display: none;
}
.theaya{
  font-family: "quran";
  font-size: 1.5rem;
  background-color: white;
  padding: 5px;
  width:auto;
  border-radius: 4px;
  margin-bottom: 5px;
  display: inline-block;
  direction: rtl;
}
.container .details{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 15px;
  flex-wrap: wrap;
  padding: 7px;
 }
.details > div,#choicesaudio .div-flex div,.thesound-open,.thetafsir-open,.repeat-aya,.sura-part,.sura-full,.ch-full,.aya-tafsir-share2,.aya-tafsir-copy2{
background-color: var(--third-color);
padding: 5px;
border-radius: 7px;
cursor: pointer;
}
.thetafsir-open,.aya-tafsir-share2,.aya-tafsir-copy2{
  border: 1px solid var(--sec-color);
  font-size: 18px;
}
.flex-select-and-btn{
  display:flex !important;
  flex-direction:column;
  align-items:center;
  gap: 10px;
}
.detail{
  padding: 8px;
  height: fit-content;     
  max-height: 300px;            
  overflow-y: auto; 
}
.detail div{
  font-family: "tafsir";
  font-size: 1.3rem;
}
#audio-player > div{
  display: flex;
  justify-content: space-around;
}
#audio-player{
  padding: 8px;
  border-top: 4.5px solid var(--sec-color);
}
#choicesaudio select{
  direction: rtl;
}
#error,#error-repeat,#error-repeat-ayats{
  color: red;
  display: none;
  background-color:transparent !important;
}
.type-1,.type-2,.type-3{
  display: flex;
  flex-direction: column;
  gap:10px;
}
#audio-player .div-flex{
  display: flex;
  justify-content: space-around;
}
#choicesaudio{
padding: 10px;
display: none;
border-top:4.5px solid var(--sec-color);
}
#choicesaudio .div-flex{
  display: flex;
  justify-content: space-around;
  gap:20px;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
  flex-direction: row-reverse;
}
#choicesaudio div{
  width: auto;
}
@media(min-width:700px) {
#choicesaudio select,.detail select{
  width: 35%;
}
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#repeat-times,#endaya{
  border-radius: 5px;
    border:1px solid black;
    width: 34px;
    height:34px;
    font-size: 21px;
    padding: 5px;
}
#play,#pause{
background-color: var(--third-color);
padding: 5px;
border-radius: 7px;
cursor: pointer;
}
.limit-repeat{
  display: flex;
  justify-content: space-around;
  background-color: transparent !important;
  direction: rtl;
  gap:6px;
  align-items: center;
}
.bsm{
  font-size: 1.5rem;
  font-family: "quran";
  user-select: none;
}
#ayas{
  text-align: right;
  margin: 10px;
  border: 1px solid  var(--main-color);
  padding: 12px;
  border-radius: 5px;
  direction: rtl;
  background-color: var(--third-color);
}
.aya{
  display: inline; 
}
.aya-container{
  white-space: normal;
}
.aya-text{
  font-family: "quran";
  font-size: 1.5rem;
  cursor:pointer;
  user-select: none;
}
.aya-text:hover{
  background-color: var(--main-color);
}
.aya-num{
  margin: 0 5px;
}
.aya-load{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
.circle-load{
  width: 100px !important;
  height: 100px;
  border: 10px solid var(--sec-color);
  border-right-color: transparent;
  border-radius: 50%;
  animation: loadsurah 3s linear infinite;
}
@keyframes loadsurah{
  from{
    transform: rotate(0);
  }to{
    transform: rotate(1440deg);
  }
}
.controls{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 20px;
  margin: 10px;
}
.controls button{
  background-color: var(--main-color) !important;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid black;
  cursor:grabbing;
  user-select: none;
}
.right{
  visibility: hidden;
}
.tools-flex{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.ayacont button,.tafsircont button{
  border: 1px black solid;
  border-radius: 8px;
  padding: 5px;
  align-self: center;
  margin-top: 4px;
  cursor: pointer;
  background-color: var(--third-color);
}
.ayacont img,.tafsircont img{
  width:30px;
  height:30px;
}
hr{
  background-color: var(--third-color);
  border: none;
  border-bottom: var(--third-color) 1px solid;
  border-top: var(--third-color) 1px solid;
}
.audio{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  gap: 15px;
  padding: 5px;
  flex-direction: column;
}
select{
  display: inline-block;
  width: 80%;
  padding: 4px;
  border-radius: 5px;
}
audio{
 padding: 4px;
 border-radius: 15px;
}
audio#full-surah{
display:none;
}
@media(max-width:440px){
  audio{
     width: 80%;
  }
}
@media(min-width:440px){
  select{
    width:initial;
  }
}
@keyframes openaudio {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* Copy content*/
.copy-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.copy-container div{
background-color: var(--third-color);
padding: 5px;
border-radius: 7px;
cursor: pointer;
}
.pop-up-message{
  display: none;
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  background-color: #fefcff;
  padding: 12px;
  width: fit-content;
}
/* sharing */
.sites{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.sites button{
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width:60px;
  height:60px;
  border-radius: 50%;
  border:1.2px solid black;
  cursor: pointer;
  padding: 6px;
}
.face{
  background-image: url("../icons/facebook.png");
}
.whatsapp{
  background-image: url("../icons/whatsapp.png");
}
.x{
  background-image: url("../icons/twitter.png");
}
.telegram{
  background-image: url("../icons/telegram.png");
}